@use '../../../assets/general.scss' as *;

.c-contact-field{
    input{
        @extend %transition;
        padding: 20px 5px;
        width: 100%;
        color: $colorDarkGray;
        border: none;
        border-bottom: 1px solid $colorGray;
        outline: none;


        &::placeholder{
            color: $colorGray;
        }

        &:focus{
        background: $colorLightGray;
        border-color: $colorDarkBlue;
        }

    }
}