@use '../../assets/general.scss' as *;

.c-header__toggle-sidebar {
    position: relative;
    padding: 14px;
    background: none;
    border-radius: 50%;
    @extend %transition;
    overflow: hidden;

    &:before,
    &:after, .c-header__toggle-sidebar__dash{
        position: absolute;
        left: 50%;
        width: 50%;
        height: 2px;
        background: $colorWhite;
        transform: translateX(-50%);
    }

    &:before,
    &:after{
        content: '';
        @extend %transition;
    }

    .c-header__toggle-sidebar__dash{
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:before {
        top: 30%;
    }

    &:after {
        bottom: 30%;
    }

    &.active {
        background: $colorGray;

        .c-header__toggle-sidebar__dash{
            opacity: 0;
        }

        &:before,
        &:after {
            top: 50%;
            transform-origin: center;
        }

        &:before {
            transform: translateX(-50%) rotate(45deg);
        }

        &:after {
            bottom: auto;
            transform: translateX(-50%) rotate(-45deg);
        }
    }

}