@use '../../assets/general.scss' as *;

.c-header {
    background: $colorDarkBlue;
    color: $colorWhite;
 
    .c-header__logo {

        .c-header__image {
            margin: 0 10px;
            max-height: 50px;
        }
    }

    h1 {
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
    }
}