@use '../../assets/general.scss'as *;

.c-sidebar {
    @extend %transition;
    @extend %verticalGeneralPadding;
    width: 0;
    transform: translateX(-50%);
    overflow: hidden;

    &.active {
        padding-right: 60px;
        width: 33.33%;
        transform: translateX(0);
    }

    .c-button {
        @extend %flexCenter;
        margin-bottom: 20px;
        padding: 0 10px;
        width: 140px;
        background: $colorGreen;
        color: $colorWhite;
        font-size: $fontSizeDefault;
        border-radius: 20px;
        font-weight: 600;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);

        &:hover,
        &:focus {
            background: $colorLightBlue;
        }

        &:before {
            content: '+';
            margin-right: 5px;
            font-size: 35px;
        }
    }


    .c-sidebar__item {
        @extend %transition;
        display: block;
        padding: 10px 20px;
        color: $colorDarkGray;
        border-bottom: 1px solid $colorGray;
        cursor: pointer;

        &:hover,
        &:focus {
            background: $colorLightGray;
        }

        svg {
            margin-right: 10px;
        }

    }



}

.c-sidebar.active+main {
    width: 66.66%;
}

//Responsive --------------------------------------------------------------------

@media screen and (max-width: 768px) {

    .c-sidebar {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        height: 0;
        transform: translateY(-50%);
        


        &.active {
            padding-right: 0;
            width: 100%;
            transform: translateY(0);
            height: auto;
        }

        .c-button {
            margin: 0;
            width: 100%;
            border-radius: 0;
        }
    }

    .c-sidebar.active+main {
        width: 100%;
    }
}