@use '../../../assets/general.scss' as *;

.c-form{
    margin-top: 20px;
    width: 80%;
}


//Responsive --------------------------------------------------------------------


@media screen and (max-width: 1024px) {
    .c-form{
        width: 100%;
    }
    
}

