@use '../../../assets/general.scss' as *;

.c-contact-details{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid $colorGray;
    border-radius: 4px;

    .c-contact-details__item{
        padding-top: 5px;
        padding-bottom: 5px;
        color: $colorDarkBlue;

        svg{
            margin-right: 5px;
        }
    }
}

.c-button{
    &.c-button--orange{
        background: $colorOrange;

        &:hover, &:focus{
            background: $colorDarkOrange;
        }
    }

    &.c-button--red{
        background: $colorRed;

        &:hover, &:focus{
            background: $colorDarkRed;
        }
    }
}